@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
:root {
  --bg-color: rgb(0, 0, 0);
  --font-color-white: rgb(231, 231, 231);
  --font-color-green: rgb(151, 255, 91);
  --font-color-blue: rgb(81, 165, 255);
  --font-color-red: rgb(255, 81, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: large;
  background-color: var(--bg-color);
  color: var(--font-color-white);
}

a {
  text-decoration: none;
  background: transparent;
  display: block;
  font-size: inherit;
}

header {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  margin-bottom: 2vh;
  background: linear-gradient(90deg, #000000, #2d353f, #1f408d);
}
@media screen and (max-width: 420px) {
  header {
    justify-content: space-between;
  }
}
header .logo {
  text-align: center;
  flex-basis: 30vw;
  background: transparent;
  font-family: "Train One", cursive;
  font-size: 3.2vw;
}
@media screen and (max-width: 420px) {
  header .logo {
    font-size: 7vw;
    flex-basis: 70vw;
  }
}
header .logo:hover {
  cursor: pointer;
}
header .nav-list {
  background: transparent;
  flex-basis: 70vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav-list .selected {
  border-bottom: solid 2px white;
}
@media screen and (max-width: 420px) {
  .nav-list-item:not(header .nav-list .login) {
    display: none;
  }
}
header .nav-list .nav-list-item {
  line-height: 10vh;
  background: transparent;
}
header .nav-list .nav-list-item.login {
  text-align: center;
  width: 80px;
  height: 40px;
  line-height: 40px;
  border: solid 0.1px white;
  border-radius: 5px;
}
header .nav-list .nav-list-item:hover {
  cursor: pointer;
}

.main-container {
  height: 88vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 660px) {
  .main-container {
    align-items: center;
  }
}
.main-container .btn-container {
  user-select: none;
}
@media screen and (min-width: 370px) {
  .main-container .btn-container {
    margin-left: 30px;
  }
}
.main-container .btn-container .config {
  position: relative;
}
@media screen and (min-width: 370px) {
  .main-container .btn-container .config {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(4, 70px);
  }
}
@media screen and (max-width: 369px) {
  .main-container .btn-container .config {
    display: flex;
  }
  .main-container .btn-container .config * {
    margin: 0 4px;
  }
  .main-container .btn-container .config #start-button {
    margin-top: 27px;
  }
  .main-container .btn-container .config .plus {
    position: absolute;
    top: 10px;
  }
  .main-container .btn-container .config .minus {
    position: absolute;
    top: 130px;
  }
}
.main-container .btn-container .config .plus {
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 25px;
  border: solid 1px white;
  border-radius: 5px;
  margin-top: 70px;
  user-select: none;
}
.main-container .btn-container .config .plus.disabled {
  border: solid 1px gray;
  color: gray;
  pointer-events: none;
}
.main-container .btn-container .config .minus {
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 25px;
  border: solid 1px white;
  border-radius: 5px;
  margin-bottom: 70px;
  user-select: none;
}
.main-container .btn-container .config .minus.disabled {
  border: solid 1px gray;
  color: gray;
  pointer-events: none;
}
.main-container .btn-container .config .plus:hover, .main-container .btn-container .config .minus:hover {
  cursor: pointer;
}
.main-container .btn-container .config #count-container {
  grid-column: 1/2;
  grid-row: 1/2;
}
.main-container .btn-container .config #digit-container {
  grid-column: 1/2;
  grid-row: 2/3;
}
.main-container .btn-container .config #round-container {
  grid-column: 1/2;
  grid-row: 3/4;
}
.main-container .btn-container .config #start-button {
  grid-column: 1/3;
  grid-row: 4/5;
}
.main-container .btn-container .config .input {
  display: block;
  width: 45px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: solid 1px white;
  border-radius: 2px;
}
.main-container .btn-container .config .input.selected {
  background: #1f408d;
}
.main-container .btn-container .config .input.disabled {
  border: solid 1px gray;
  color: gray;
  pointer-events: none;
}
.main-container .btn-container .config #count:hover, .main-container .btn-container .config #digit:hover, .main-container .btn-container .config #round:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}
.main-container .btn-container .config div:disabled {
  border: solid 1px gray;
}
.main-container .btn-container .config .btn {
  width: 100px;
  height: 35px;
  color: white;
  border: solid 1px white;
  border-radius: 2px;
  display: block;
}
.main-container .btn-container .config .btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}
.main-container .btn-container .config .btn:disabled {
  border: solid 1px gray;
  pointer-events: none;
}
.main-container .display-container {
  margin: 20px 30px;
  width: 180px;
  position: relative;
}
.main-container .display-container .display {
  font-family: serif;
  text-align: right;
  letter-spacing: 1.5px;
}
.main-container .display-container .display .disabled {
  color: gray;
}
.main-container .display-container .input {
  letter-spacing: 1.5px;
  width: 180px;
  margin-top: 8px;
  font-family: serif;
  color: var(--font-color-blue);
  text-align: right;
  border: solid 0.1px white;
  border-radius: 3px;
  outline: none;
}
.main-container .display-container .input.input:disabled {
  -webkit-text-fill-color: var(--font-color-blue);
  opacity: 1;
}
.main-container .display-container img {
  width: 150px;
  position: absolute;
  top: 100%;
  left: 65%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
.main-container .log-container {
  margin: 20px 30px 0px 0px;
}
.main-container .log-container .title {
  text-align: center;
}
.main-container .log-container .log {
  width: 260px;
  height: 420px;
  padding: 6px;
  border: solid 1px white;
  border-radius: 3px;
  overflow: auto;
  white-space: nowrap;
}

main {
  width: 60vw;
  color: var(--font-color-white);
}
main h1 {
  font-size: 25px;
}
main p {
  font-size: 20px;
}
main .right {
  text-align: right;
}

.green {
  color: var(--font-color-green);
}

.blue {
  color: var(--font-color-blue);
}

.red {
  color: var(--font-color-red);
}
